.links{
    list-style-type: none;
}
.links li{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2px;
    margin: 0;
}
.links li a{
    padding: 14px 20px;
    text-decoration: none;
    color:white;
    font-weight: bold;
    transition: all .2s ease-out;
    text-transform: uppercase;
}
.links li a.button{
    background-color: white;
    font-weight: bold;
    color: blue;
}
.links li a:hover{
    opacity: .5;
}
.links li a.active{
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: red;
    transition: none;
}

.section{
    position: relative;
    overflow: hidden;
}
.clickbutton{
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    outline: 2px solid rgb(89, 92, 253);
    border-radius: 0 !important;
    transition: all .2s ease-in;
}
.clickbutton:hover{
    background-color: rgb(89, 92, 253) !important;
    color: white;
}

.line{
    width: 20%;
    border: 1px solid rgb(0, 195, 255);
    display:inline-block;
}
.contents h1{
    font-weight: bold;
    color: rgb(0, 162, 255);
}
.contents-icons h1{
    font-weight: bold;
    color: rgb(0, 162, 255);
    transition: all .3s ease-out;
}
.contents-icons h1:hover{
    transform: scale(1.4);
    color: white;
}
.card {
  transition: all 0.3s ease;
}

.card:hover {
  border-color: #0d6efd !important;
}
.hover-shadow {
  transition: all 0.3s ease;
}

.hover-shadow:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.15) !important;
}
.form , textarea{
    border: none;
    outline:1px solid rgba(128, 128, 128, 0.329)
}
textarea{
    padding:3px 8px;
}

.selectbar{
    width: 100%;
    padding: 0.675em;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid grey;
}
.custominput input[type="text"], .custominput input[type="date"],.custominput input[type="email"]{
    width: 100%;
    padding: 0.675em;
}

@media screen and (max-width:992px) {
    .scrollable{
        overflow-x: scroll;
        min-height: 100px;
        scrollbar-width: thin;
    }
}